/* Footer */
.footer {
  margin-top: auto;
  background: var(--footer-background);
  padding: 20px 0 1rem;
  width: 100%;
  /* border-top: 1px solid #f3f3f3; */
  font-size: 0.825rem;
  font-family: "roboto-light", sans-serif;
}

.footer a {
  color: var(--footer-resalt);
  font-size: inherit;
}
