<div class="main" [style.background-color]="color">
    <div class="content">
      <section class="header">
        <ng-template [ngIf]="title" [ngIfElse]="withouttitle">
          <p>{{ title }}</p>
        </ng-template>
        <ng-template #withouttitle>
          <div>
            Default Title
          </div>
        </ng-template>
        <p>Any Option</p>
      </section>
      <section class="filter-bars">
        <input type="text" placeholder="Busqueda por defecto">
      </section>
      <hr>
      <main class="data">
        <!-- tabla de datos -->
        <ng-content select="[section=dataTable]"></ng-content>
        <!-- otra data -->
        <ng-content select="[section=otherData]"></ng-content>
      </main>
    </div>
  </div>