:host {
    --color:grey
}
/* ALL CONTENT */
.main {
    background-color: green;
}

/* GRUPODE BOTON PICKERS */
.selector {
    display: flex;
    justify-content: space-around;
}
/* NOMBRE BOTON PICKER */
.selector .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: aliceblue;
}
.selector .item hr {
    width: 100%;
    margin-top: 5px;
    border-style: solid;
    border-color:darkgray;
}
/* BOTON PICKER */
.selector button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.5);
}
.selector span {
    margin: 0 auto;
    padding: 5px;
    color: #353535;
}