<nav>
    <div class="main">
        <div class="child hamburger">
            <button (click)="sidebarToggle()">
                <i>O</i>
            </button>
        </div>
        <div class="child content">
            <button>
                <div class="profile-image">
                    <img *ngIf="image" src="" alt="">
                    <div class="not-image" *ngIf="!image"></div>
                </div>
                <div class="name">usuario@gmail.com</div>
            </button>
        </div>
    </div>
</nav>