<div class="main">
  <div class="content">
    <section class="header">
      <p>Title</p>
      <p>Any Option</p>
    </section>
    <section class="filter-bars">busqueda</section>
    <hr>
    <main class="data">
      <table>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
          <th>Pais</th>
        </tr>
        <!-- <tr *ngFor="let i of [].constructor(100)"> -->
        <tr *ngFor="let i of [].constructor(1)">
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Maria LLosa De Los Portales Easkdas</td>
          <td>Germany</td>
        </tr>
      </table>
    </main>
  </div>
</div>