<div class="option_table container">
  <div class="config">
    <label for="dataTable-default">Datos por defecto: </label>
    <input type="checkbox" id="dataTable-default" [formControl]="default">
  </div>
  <div class="config">
    <label for="dataTable-default">Tipo de datos: </label>
    <!-- <input type="checkbox" id="dataTable-default" [formControl]="default"> -->
    <select class="select_type" name="type-all" [formControl]="column_default">
      <option value="default" disabled="true">SELECT</option>
      <option value="toplevel">Top Level</option>
      <option value="map">Map</option>
    </select>
  </div>
</div>
<div class="table container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let title of titles; let i = index">
          {{ title.name }}
          <select class="select_type" name="typetable-{{i}}" (change)="log($event, i)" [value]="column_default.value">
            <option value="default" disabled="true">SELECT</option>
            <option value="toplevel">Top Level</option>
            <option value="map">Map</option>
          </select>
        </th>
        <th *ngIf="options" rowspan="2">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let value of show_data;let id = index">
        <td *ngFor="let title of titles; let i = index" #cellTable>
          {{ value_of_item_columns[id][title.name] }}
          <span>
            <i class="copy_clip" (click)="copyClip(cellTable, value_of_item_columns[id][title.name])">O</i>
          </span>
        </td>
        <ng-container *ngIf="options">
          <td class="option">
            <ng-container *ngFor="let option of optionsValue">
              <!-- BOTON SIN DROP -->
              <ng-template [ngIf]="!option.list" [ngIfElse]="dropdownButton">
                <button title="{{option.name}}" class="options">
                  <i class="icon_option">---</i>
                </button>
              </ng-template>
              <!-- BOTON CON DROPDOWN -->
              <ng-template #dropdownButton>
                <button title="{{option.name}}" class="options" [ngClass]="{'dropdown' : option.list }"
                  (click)="openDrop(option,id)">
                  <i class="icon_option">---</i>
                  <ng-container *ngIf="option.list">
                    <div class="dropdown-content" id="dropdown-content-{{id}}">
                      <div class="relative">
                        <button class="dropdown-item" *ngFor="let itemList of option.list">
                          {{itemList}}
                        </button>
                      </div>
                    </div>
                  </ng-container>
                </button>
              </ng-template>

            </ng-container>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>